<!DOCTYPE html>
<html>
  <%- include('../../layouts/head'); %>
  <body>
    <div class="wrapper">
      <div>
        <%- include('../../layouts/main-header'); %> 
		<%-include('../../layouts/side-bar'); %>
        <div class="main-panel">
          <%- include('../../components/categories/list'); %> 
		  <%- include('../../layouts/footer'); %>
        </div>
      </div>
    </div>
  </body>
  <%- include('../../layouts/script/main'); %>
  <%- include('../../layouts/script/listCategory'); %>
</html>
